body{
    margin: 0;
    padding: 0;
    font-family: 'Recursive', sans-serif;
}
.navbar-nav {
    margin-left: 18rem;

} 
.navbar-nav .nav-item .nav-link{
    color:orangered !important;
    font-size: 1.5rem;
}
#top-section{
    background-image: url(img/bg.jpg);
    background-size: cover;
    height:30rem;
}
#top-section .top-content{
    padding-top:10rem;
    padding-right: 2rem;
    color:rgb(58, 52, 52);
}
.application-boxes{
    margin-top: 1rem;
}
.application-boxes i{
    margin: 2rem 4rem;
    color:rgb(42, 153, 218);
}
.application-boxes i img{
    margin: 2rem 0;
} 
.application-boxes{
    box-shadow: 5px 5px 10px rgb(182, 167, 162);
    padding: 2rem;
    padding-right: 4rem;
}
.application-text{
    padding-top:3.5rem;
    color:rgb(42, 153, 218);
}
form{
    /* margin-left: 24rem; */
}
.send-btn{
    /* margin-left:10rem; */
}
#contact{
    background-image: url("img/img2.jpg");
    background-size: cover;
    height:25rem;
}